{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente{% endblock %}

{% block body %}

<div class="container" style="padding-top:40px; padding-bottom:40px">

    <h1><u>Conditions générales de vente</u></h1>

    <h2>Article 1 – Champ d’application</h2>

    <p>Les présentes conditions générales régissent toutes prestations réalisées par COCORICO WORLD COMPANY au profit du Client.
    L’acceptation de l’offre de COCORICO WORLD COMPANY emporte acceptation des présentes conditions générales. Le Client a disposé, avant la conclusion du contrat, de toutes les informations nécessaires et utiles afin de s’engager en connaissance de cause. Il ne peut être déroger aux présentes conditions générales que par des dispositions écrites acceptées par COCORICO WORLD COMPANY.</p>
    
    <h2>Article 2 - Objet des prestations</h2>

    <p>COCORICO WORLD COMPANY propose aux Clients un service de mise en relation entre les producteurs et les consommateurs.</p>
    
    <h2>Article 3 – Documents contractuels</h2>

    <p>Les documents contractuels sont dans l’ordre de priorité décroissant les suivants :
    -	Le bon de commande dématérialisé via la plateforme informatique. 
    -	Les présentes conditions générales 
    -	Les documents techniques
    En cas de contradiction entre une ou plusieurs stipulations figurant dans l’un quelconque de ces différents documents, le document de niveau supérieur prévaut.</p>
    
    <h2>Article 4- Mise en relation - Propriété</h2>

    <p>La réalisation des prestations impose la fourniture par COCORICO WORLD COMPANY d’une plateforme mettant en relation les producteurs et les consommateurs, en vue de l’acquisition de produits issus de la production française.
    La mise en relation est réalisée par COCORICO WORLD via une application web.</p>
    
    <h2>Article 5 - Garantie des capteurs</h2>

    <p>COCORICO WORLD COMPANY choisit les producteurs et produits à présenter aux consommateurs au sein de l’application web. COCORICO WORLD COMPANY garantit l’existence réelle et avérée des producteurs via une inscription de société ayant un Siret..
    Le Client bénéficie des garanties offertes par le producteur présenté par COCORICO WORLD COMPANY.</p>
    
    <h2>Article 6 – Durée</h2>

    <p>Aucune obligation de durée n’est retenue,  chaque producteur et consommateur étant libre de créer et de suspendre leur compte à tout moment.</p>
    
    <h2>Article 7 - Résiliation</h2>

    <p>Sans objet</p>
    
    <h2>Article 8 - Conditions de réalisation des prestations</h2>
    
    <p>COCORICO WORLD COMPANY apporte tout le soin et toute la diligence nécessaire à l’exécution des prestations objet des présentes.
    La vente est conclu à réception et contrôle des marchandises, le bordereau de livraison dûment signé faisant foi.</p>
    
    <h2>Article 9 – Accès aux données</h2>
    
    <p>Les données collectées et restituées au Client sont à destination des besoins professionnels du Client.
    Les paramètres sont déterminés par le Client qui est libre de l’utilisation faite des données et notamment de la transmission à des tiers.</p>
    
    <h2>Article 10 - Prix</h2>
    
    <p>Les prix s’entendent en euros et hors taxes. Les prix sont fermes et sans remises.</p>
    
    <h2>Article 11 – Conditions de paiement</h2>
    
    <p>Sauf dispositions contraires, les factures sont payables à la commande directement par carte bancaire sur l’application web. Aucun escompte n’est accordé pour paiement anticipé.
    En cas d’impossibilité de prélever les sommes dues par le Client, ce dernier sera redevable d’une pénalité de retard par application aux sommes dues d’un taux d’intérêt égal au taux appliqué par la Banque Centrale Européenne à son opération de refinancement majoré de 10 points.
    Le Client sera également redevable d’une indemnité forfaitaire pour frais de recouvrement d’un montant de 40 €.
    Quinze (15) jours après une mise en demeure de payer adressée par lettre recommandée avec accusé de réception et restée sans réponse, COCORICO WORLD COMPANY pourra suspendre l’exécution des prestations.</p>
    
    <h2>Article 12 – Responsabilité de COCORICO WORLD COMPANY</h2>
    
    <p>Dans le cadre de l’exécution des prestations, COCORICO WORLD COMPANY contracte une obligation de moyen. En cas de responsabilité avérée de COCORICO WORLD COMPANY, c’est-à-dire de défaillance fautive dans l’exécution des prestations, la responsabilité de COCORICO WORLD COMPANY est en toute hypothèse limitée au préjudice matériel prévisible et direct, à l’exclusion de tout préjudice immatériel, tel que perte d’image, perte de chance.</p>
    
    <h2>Article 13 – Force majeure</h2>
    
    <p>La responsabilité de COCORICO WORLD COMPANY ne peut être engagée en cas d’inexécution des prestations liées à un cas de force majeure au sens des dispositions de l’article 1218 du Code Civil.
    Sans avoir à remplir les conditions de l’article 1218 du Code Civil, les évènements suivants constituent des cas de force majeure : grève, conflits sociaux, interruption des services de communication ou de télécommunication, intempéries.</p>
    
    <h2>Article 14 – Utilisation des coordonnées du Client</h2>
    
    <p>Sauf refus exprès du Client, COCORICO WORLD COMPANY peut utiliser le nom du client à titre de référence dans sa communication.</p>
    
    <h2>Article 15 – Règlement des litiges</h2>
    
    <p>Le contrat est soumis au droit français.
    En cas de litige relatif à la conclusion, l’exécution du contrat et ou la relation des Parties, elles s’efforceront de le résoudre à l’amiable.
    A défaut d’un règlement amiable intervenu dans le mois de la première tentative de conciliation, les litiges seront soumis à la compétence exclusive du Tribunal de Commerce de Besançon, même en cas de référé, de pluralité d’instances ou de parties.</p>
    
    <h2>Article 16 – Dispositions générales</h2>
    
    <p>Les présentes conditions générales représentent l’intégralité des engagements des Parties.
    Toute tolérance dans l’application de l’une ou l’autre des dispositions des présentes ne peut valoir renonciation définitive ou modification des accords.
    L’annulation éventuelle d’une ou plusieurs clauses des présentes ne saurait porter atteinte aux autres dispositions qui continueront de produire leur plein et entier effet pour autant que l’économie générale des accords puisse être sauvegardée.</p>
    
    </div>






{% endblock %}