{% extends 'base.html.twig' %}

{% block title %}Présentation de l'entreprise{% endblock %}

{% block body %}

    <div class="container mt-4 mb-4">
    
        <div class="h2">Cocorico ? Késako ?</div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem distinctio fuga perspiciatis eligendi, aperiam quam!</p>

        <hr>
    </div>
    <div class="container mt-4 mb-4">
        <div class="h2">Et la livraison ?</div>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus corporis, molestiae cupiditate obcaecati nulla minus?</p>

        <hr>
    </div>
    <div class="container mt-4 mb-4">
        <div class="h2">FAQ</div>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

    </div>
{% endblock %}
