{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

<div class="container">


  <h1>Mentions légales</h1>
   
  
  <h2>Propriété intellectuelle :</h2>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore iusto eligendi ut hic eius impedit qui ratione quis quaerat, quam dignissimos ad, sunt quasi animi in non? Ad, facere nisi.
  Tempore aliquam mollitia tenetur eius nesciunt nisi distinctio eligendi harum atque dignissimos. Vel maxime aliquam odio quibusdam. Excepturi fugiat, inventore eius quia, veritatis quas voluptatum voluptas praesentium suscipit, quos odio!
  Amet, a quos voluptatibus ex modi in, possimus culpa molestiae nobis exercitationem laboriosam consectetur facere rerum. Laborum beatae, deserunt consectetur sequi rem earum quis voluptatum? Aliquid quam dolorem velit voluptate.
  Atque autem deleniti minus. A fugit eius doloribus. Perferendis cum velit necessitatibus ab nostrum repellendus minus porro officia, sed voluptate reprehenderit, quam soluta aliquam dolore facilis placeat fuga. Nemo, nostrum.
  Cupiditate natus praesentium explicabo soluta. Iste, dignissimos est! Ullam, quos ea, iusto ducimus accusamus odit fuga itaque, dolore praesentium vel dolor culpa voluptatibus? Deleniti atque, laboriosam quas aliquam nesciunt quo!
  </p>
  
  <h2>Confidentialité :</h2>
  
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque assumenda quasi placeat ut maxime quibusdam beatae praesentium error, cupiditate expedita magni quos maiores magnam aliquam? Rem obcaecati dolorum minima similique!
  Culpa, deserunt est, incidunt deleniti expedita praesentium doloribus hic odit, quis totam nam optio ipsam vero minima aliquam debitis molestias! Quaerat aliquam beatae nobis optio itaque quis. Ea, est praesentium.
  Eveniet similique, adipisci fugiat, non ab explicabo quas at odit cumque exercitationem id unde totam libero tenetur eos officiis voluptates amet eaque tempora autem? Incidunt reprehenderit quis dignissimos rem nam!</p>
  
  <h2>Utilisation de cookies :</h2>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus illum ipsum perferendis similique, pariatur optio, repudiandae suscipit eum, quaerat inventore atque tempora iusto qui quibusdam facilis debitis totam magnam deserunt.
  Iste quibusdam ducimus quae accusamus, cum repellat impedit sed consequatur debitis voluptatum quis deserunt rem earum ipsa quasi! Eligendi iure cumque ut, quis nesciunt ipsum a iste aperiam ratione architecto?
  Magni, molestias minus explicabo ullam, blanditiis commodi optio ducimus, libero deleniti quam velit architecto cupiditate omnis enim rem laborum corrupti aut laudantium incidunt maxime doloribus beatae illum et! Exercitationem, aut?</p>
  
  <h2>Liens hypertexte :</h2>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore illo eligendi mollitia quibusdam minus dignissimos fuga laudantium fugit laborum! Blanditiis ullam eum perspiciatis, earum ipsum quia eius nihil maxime iure.
  Perspiciatis, quae voluptatibus veniam mollitia officiis, expedita quos corporis esse minima temporibus molestias, necessitatibus fuga blanditiis neque praesentium magnam dolor! Quaerat, mollitia delectus itaque laborum aliquam incidunt vitae quae esse.
  Modi omnis error non nostrum temporibus corporis eius architecto odio, ex natus mollitia est veniam dolorum, quo dicta minima cupiditate possimus! Fugiat pariatur officiis vero recusandae dolore, quos consectetur. Veritatis!</p>
  
  <h2>Editeur :</h2>

  <p>Cocorico-World Company</p>
  
  <h2>Siège social :</h2> 

  <p>Lorem ipsum dolor sit amet consectetur, <br> 
    75000 Paris – FRANCE<br>
    N° de téléphone : Lorem </p>
  
  <h2>Hébergement :</h2>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem culpa sunt impedit architecto laudantium. </p>

</div>

{% endblock %}